.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.googleLogo {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 20px;

}

.searchInput {
    width: 500px;
    height: 40px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    outline: none;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #e0e0e0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
}

.navItem {
    margin-right: 20px;
    cursor: pointer;
}

.spacer {
    flex: 1;
}

.icon {
    width: 24px;
    height: 24px;
    background-color: #e0e0e0;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 50%;
}